img
	width 100%
a 
	color #2BA2AE
	text-decoration none
body
	background #272822
	header 
		background #308392
		min-height 40px
		padding 5px 0
		width 100%
		figure
			margin 0 0 0 4%
			padding 0
			width 55px
			img
				height 100%
				width 100%
	nav 
		background #EFEFED
		border-top 1px solid #D0D1C9
		border-bottom 1px solid #D0D1C9
		max-height 45px
		width 100%
		.menu
			margin 0 0 0 4%
			padding 0
			li
				display inline-block
				list-style-type none
				a 
					color #27939E
					background #E0E1DD
					border-right 1px solid #D0D1C9
					border-left 1px solid #D0D1C9
					font-weight bold
					display block
					padding 8px 10px
					&:hover
						background #CCC
	.principal
		background #EEEEEE
		margin 0 0 0 4%
		padding 10px 0
		width 92%
		.post 
			padding 5px 0
			.autor_info
				margin 0 0 0 100px
				padding 0
				width 100%
				.categoria,.autor
					display inline-block
					vertical-align top
				.categoria
					a
						color #585A4E
				.autor
					p
						margin 0
						padding 0
			background #F5F5F5
			position relative
			border-radius 4px
			margin 5px 0
			width 65%	
			.img_post
				display inline-block
				margin 0 10px 0 0
				padding 0
				vertical-align top
				width 85px
				figure
					margin 5px
					padding 0
					width 100%
			.post_detalles
				margin 0
				padding 0
				display inline-block
				vertical-align top
				min-width 75%
				.titulo
					font-size 22px
					margin 0
					padding 0
					a 
						color #414141
				.detalles_basicos
					margin 0
					padding 0
			.fecha
				background #DDD
				top 0
				right 0
				position absolute
				height 100px
				text-align center
				width 100px
				.mes
					background #BBB
					margin 0 
					padding 0
					p 
						color #F0F0EE
						padding 0
						margin 0
						font-weight bold
						font-size 1.5em
				.dia
					p 
						color #F0F0EE
						padding 0
						margin 0
						font-weight bold
						font-size 3em
						
		