a 
	color #2BA2AE
	text-decoration none
body
	background #272822
	header 
		background #308392
		min-height 40px
		padding 5px 0
		width 100%
		figure
			margin 0 0 0 4%
			padding 0
			width 55px
			img
				height 100%
				width 100%
	nav 
		background #EFEFED
		max-height 45px
		width 100%
		.menu
			margin 0 0 0 4%
			padding 0
			li
				display inline-block
				list-style-type none
				a 
					color #27939E
					background #E0E1DD
					border-right 1px solid #D0D1C9
					border-left 1px solid #D0D1C9
					font-weight bold
					display block
					padding 8px 10px
					&:hover
						background #CCC